/* vacation top div design: */
.add-vacation .vacation-container-top{
    margin:auto;
    text-align: center;
}

/* table design */
.add-vacation table{
    text-align: center;
    margin: auto ;
    margin-top: 0;
    padding: 3px;
}

/* td and tr design */
.add-vacation td,.add-vacation tr{
    text-align: left;
    margin: auto ;
    margin-top: 10px;
    /* padding: 3px; */
}

/* input box design */
.add-vacation .input-class{
    width: 210px;
    height:27px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgb(119, 31, 82);
    margin-top: 5px;
    display: block;
}

/* texteara box design */
.add-vacation .textarea-class{
    width: 210px;
    height:35px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgb(119, 31, 82);
    margin-top: 5px;
    margin-bottom: 0;
    display: block;
}

/* Add-Button design when enabled: */
.add-vacation .add-button:enabled{
    width: 120px;
    height: 30px;
    background-image: linear-gradient(45deg, rgb(0, 204, 255), rgb(119, 255, 180),rgb(222, 145, 252));
    color:white;
    text-shadow: 2px 2px 3px rgb(85, 19, 57);
    border-radius: 3px;
    margin:3px;
}

/* Add-Button design when disabled: */
.add-vacation .add-button:disabled{
    width: 120px;
    height: 30px;
    background-image: linear-gradient(45deg, rgb(0, 204, 255), rgb(119, 255, 180),rgb(222, 145, 252));
    color:rgb(165, 156, 156);
    border-radius: 3px;
    margin:3px;
}

/* Cancel-Button design */
.add-vacation .cancel-button{
    width: 80px;
    height: 30px;
    background-image: linear-gradient(45deg, rgb(229, 126, 250) , rgb(72, 228, 255),rgb(32, 240, 255));
    color:white;
    text-shadow: 2px 2px 3px rgb(85, 19, 57);
    border-radius: 3px;
    margin:3px;
    margin-bottom:20px;
}

/* Error note design */
.add-vacation .add-vacation-error-note{
    text-align: left;
    display: block;
    color:white;
    text-shadow: 1px 1px 3px rgb(85, 19, 57);
    margin:2px;
    margin:auto;
}

/* Doesn't display the original type="file" design */
.add-vacation [type="file"]{
   display: none;
}

/* Image uploader lable design */
.image-uploader-lable{
    width: 150px;
    height: 30px;
    background-image: linear-gradient(45deg, rgb(229, 126, 250) , rgb(72, 228, 255),rgb(32, 240, 255));
    color:white;
    text-shadow: 2px 2px 3px rgb(85, 19, 57);
    border-radius: 3px;
    margin:3px;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

/* Image uploader note design */
.add-vacation .image-uploader-note{
    padding:0;
    margin:0;
    margin-bottom: 5px;
    color:white;
    text-shadow: 1px 1px 3px rgb(37, 10, 35);
    text-shadow: -1px -1px 2px rgb(37, 10, 35);
}

/* Image uploader div design: */
.add-vacation .image-uploader-div{
    margin-bottom: 7px;
}

